<% include ../header.ejs %>

<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
    <table class="table table-bordered">
        <tr>
            <th><label for="p_name">제품명</label></th>
            <td><input type="text" id="p_name" name="name" class="form-control" value="<%=product.name%>"/></td>
        </tr>
        <tr>
            <th><label for="p_price">가격</label></th>
            <td><input type="text" id="p_price" name="price" class="form-control" value="<%=product.price%>"/></td>
        </tr>
        <tr>
            <th><label for="p_description">설명</label></th>
            <td><input type="text" id="p_description" name="description" class="form-control" value="<%=product.description%>"/></td>
        </tr>
        <tr>
            <th>섬네일</th>
            <td>
                <input type="file" name="thumbnail" />
                <% if(product.thumbnail){ %>
                    <a href="/uploads/<%=product.thumbnail%>" target="_blank">업로드 이미지 보기</a>
                <% } %>
            </td>
        </tr>
    </table>
    <button class="btn btn-primary">작성하기</button>
</form>

<% include ../footer.ejs %>